@{
    Layout = "_Layout";
}

@model HairSalon.Models.Specialty

<header>
    <h1>Edit Specialty: @Html.DisplayFor(model => model.Name)</h1>
    <ul class="nav">
        <li>@Html.ActionLink("Delete", "Delete")</li>
    </ul>
</header>
<main>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.SpecialtyId)

        <div class="form-entry">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
        </div>

        <input type="submit" value="Save">
    }
</main>
<footer>
    <ul class="nav">
        <li>@Html.ActionLink("Specialties", "Index")</li>
        <li>@Html.ActionLink("Add Specialty", "Create")</li>
    </ul>
</footer>