@{
    Layout = "_Layout";
}

@using HairSalon.Models;

<header>
    <h1>Specialties</h1>
</header>
<main>
    @if (@Model.Count == 0)
    {
        <p>No specialties have been added yet.</p>
        <p>@Html.ActionLink("Add Specialty", "Create")</p>
    }

    <ul class="listings list-3-left">
        @foreach (Specialty specialty in Model)
        {
            <li>
                <div>@specialty.Name</div>
                <div>@Html.ActionLink("Edit", "Edit", new { id = specialty.SpecialtyId })</div>
                <div>@Html.ActionLink("Delete", "Delete", new { id = specialty.SpecialtyId })</div>
            </li>
        }
    </ul>
</main>
<footer>
    <ul class="nav">
        <li>@Html.ActionLink("Add Specialty", "Create")</li>
        <li>@Html.ActionLink("Stylists", "Index", "Home")</li>
        <li>@Html.ActionLink("Add Stylist", "Create", "Stylists")</li>
    </ul>
</footer>