@{
    Layout = "_Layout";
}

@model HairSalon.Models.Client

<header>
    <h1>View Client: @Model.Name</h1>
    <ul class="nav">
        <li>@Html.ActionLink("Stylists", "Index", "Home")</li>
        <li>@Html.ActionLink("Add Stylist", "Create", "Stylists")</li>
        <li>@Html.ActionLink("Clients", "Details", "Stylists", new { id = Model.Stylist.StylistId })</li>
        <li>@Html.ActionLink("Edit", "Edit", new { id = Model.ClientId })</li>
        <li>@Html.ActionLink("Delete", "Delete", new { id = Model.ClientId })</li>
    </ul>
</header>
<main>
    <h3>@Model.Name</h3>
    <p>No other information available.</p>
    <p>Stylist: @Model.Stylist.Name</p>
</main>